<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>                  <string>NotepadMac</string>
    <key>CFBundleDisplayName</key>           <string>Notepad++ for Mac</string>
    <key>CFBundleIdentifier</key>            <string>org.notepad-plus-plus.mac</string>
    <key>CFBundleExecutable</key>            <string>NotepadMac</string>
    <key>CFBundlePackageType</key>           <string>APPL</string>
    <key>CFBundleIconFile</key>              <string>AppIcon</string>
    <key>CFBundleShortVersionString</key>    <string>0.1.0</string>
    <key>CFBundleVersion</key>               <string>1</string>
    <key>LSMinimumSystemVersion</key>        <string>11.0</string>
    <key>NSHighResolutionCapable</key>       <true/>
    <key>NSSupportsAutomaticTermination</key><true/>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>      <string>Text Document</string>
            <key>CFBundleTypeRole</key>      <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array><string>public.plain-text</string><string>public.source-code</string></array>
        </dict>
    </array>
</dict>
</plist>
